@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-primarybg: #1c1c1c;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-darkred: #970102;
  --color-gasolindark: #177a65;
  --color-gasolinlight: #24ac90;
  --color-graydark: #6e6969;
  --color-graylight: #b8b8b8;
}
