@import "tailwindcss";

@theme {
    --color-*: initial;
    --color-primarybg: #1C1C1C;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-darkred: #970102;
    --color-lightred: #FF3B3B;
    --color-gasolindark: #177A65;
    --color-gasolinlight: #24AC90;
    --color-graydark: #6E6969;
    --color-graylight: #B8B8B8;
    --color-yellowdark: #A77D00;
    --color-yellowlight: #FFDE3B;
    --color-blue: #016FD0;
    --color-green: #009D32;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
}

::-webkit-scrollbar-track {
    background: #1c1c1c; 
   
}

::-webkit-scrollbar-thumb {
    background-color: #24AC90; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #177A65; 
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
